/* COMOOM설정 */
body{
    font-family: 'Roboto' , sans-serif;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.section{
    position: relative;
}
/* 메뉴 */
#fp-nav >ul >li >a {
    display: block;
    text-align: right;
    margin-bottom: 1px;
}
#fp-nav >ul >li >a >span{
    display: inline-block;
    background-color: #09131b;
    color: #fff;
    padding: 5px 10px 5px 20px;
    font-size: 13px;
    transform: translateX(calc(100% - 20px));
    /* 좌우 이동/나자신의 백프로 */
    transition: transform 0.5s;
}
#fp-nav >ul >li.active >a >span{
    transform: translateX(0);
}
/* main manu */
#section0 .wrap_link {
    /* 부모 ul */
text-align: center;
position: absolute;
/* 배경이 더 커지게  */
left: 0;
right: 0;
top: 50%;
margin-top: -195px;
}
#section0 .wrap_link > li{
    height: 130px;
    overflow: hidden;
}
#section0 .wrap_link > li > a{
    color: #fff;
    opacity: 0.4;
    font-weight: bold;
font-size: 130px;
display: inline-block; 
/* 가운데 정렬 해야 해서 */
line-height: 130px;
}
#section0 .wrap_link > li > a:hover{
    opacity: 1;
}
/* main 배경  wrap_bg*/
#section0 .wrap_bg{
position: absolute;
/* 부모 섹션이 릴레이티브, 부모를 넘어서면 안나옴 */
top: 0;
bottom: 0;
right: 0;
left: 0;
overflow: hidden;
}
#section0 .wrap_bg .bg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/img_main_01.jpg) no-repeat center center; 
  background-size: cover;
  opacity: 0;
  transform: scale(1);
  transition: all 0.8s;
}
/* 섹션별 이미지 */
#section0 .wrap_bg .bg:nth-child(2){
    background-image: url(../img/img_main_02.jpg) ; 
}
#section0 .wrap_bg .bg:nth-child(3){
    background-image: url(../img/img_main_03.jpg); 
}
#section0 .wrap_bg .bg.on{
    opacity: 1;
    transform: scale(1.1); 
    /* 110% */
}
/* POFILE */
#section1 .wrap_link{
text-align: center;
position: absolute;
left: 0;
right: 0;
top: 50%;
margin-top: -40px;
}
#section1 .wrap_link >li{
    /* li블록 요소> 가로 배치 하게 하려면 인라인 */
    display: inline-block;
    vertical-align: middle;
}
#section1 .wrap_link >li > a{
    font-size: 80px;
    font-weight: bold;

}
#section1 .wrap_link >li > a:hover{
    color: #fff;
}
#section1 .wrap_link >li + li::before{
content: "";
display: inline-block;
width: 80px;
height: 5px;
background: #000;
margin: -50px 20px 0;
vertical-align: middle;


}
/* 백그라운드 효과 */
#section1 .wrap_bg{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
}
#section1 .wrap_bg .bg{
height: 100px;

}
#section1 .wrap_bg.select_0 .bg{
    background: url(../img/section1_txt_0.png) repeat-x left center;
    animation: ani_bg0 6s linear infinite;

}
#section1 .wrap_bg.select_0 .bg.reverse{
    animation-name: ani_bg0_r;
}
#section1 .wrap_bg.select_1 .bg{
    background: url(../img/section1_txt_1.png) repeat-x left center;
    animation: ani_bg1 6s linear infinite;

}
#section1 .wrap_bg.select_1 .bg.reverse{
    animation-name: ani_bg1_r;
}
#section1 .wrap_bg.select_2 .bg{
    background: url(../img/section1_txt_2.png) repeat-x left center;
    animation: ani_bg2 6s linear infinite; 
}
#section1 .wrap_bg.select_2 .bg.reverse{
    animation-name: ani_bg2_r;
}

@keyframes ani_bg0{
0%{background-position-x:0}
100%{background-position-x: -690px}
}
@keyframes ani_bg0_r{
    0%{background-position-x:0}
    100%{background-position-x: 690px}
    }
    
    @keyframes ani_bg1{
        0%{background-position-x:0}
        100%{background-position-x: -634px}
        }
        @keyframes ani_bg1_r{
            0%{background-position-x:0}
            100%{background-position-x: 634px}
            }
            @keyframes ani_bg2{
                0%{background-position-x:0}
                100%{background-position-x: -783px}
                }
                @keyframes ani_bg2_r{
                    0%{background-position-x:0}
                    100%{background-position-x: 783px}
                    }
                            